<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Игра в ять</title>
</head>
<body>
    <form action="/success">
        <table width="100%" cellspacing="0" cellpadding="6">
            <tr>
                <td width="150" valign="top"><input type="radio" name="quest1" value="var1">беда</td>       <td valign="top"><input type="radio" name="quest1" value="var2">бѣда</td>
            </tr>
            <tr>
                <td width="150" valign="top"><input type="radio" name="quest2" value="var1">гибель</td>      <td valign="top"><input type="radio" name="quest2" value="var2">гибѣль</td>
            </tr>
            <tr>
                <td width="150" valign="top"><input type="radio" name="quest3" value="var1">гобеленъ</td>       <td valign="top"><input type="radio" name="quest3" value="var2">гобѣленъ</td>
            </tr>
            <tr>
                <td width="150" valign="top"><input type="radio" name="quest4" value="var1">петь</td>      <td valign="top"><input type="radio" name="quest4" value="var2">пѣть</td>
            </tr>
            <tr>
                <td width="150" valign="top"><input type="radio" name="quest5" value="var1">снегъ</td>  <td valign="top"><input type="radio" name="quest5" value="var2">снѣгъ</td>
            </tr>
            <tr>
                <td width="150" valign="top"><input type="radio" name="quest6" value="var1">кефиръ</td>       <td valign="top"><input type="radio" name="quest6" value="var2">кѣфиръ</td>
            </tr>
            <tr>
                <td width="150" valign="top"><input type="radio" name="quest7" value="var1">иметь</td>       <td valign="top"><input type="radio" name="quest7" value="var2">имѣть</td>
            </tr>
            <tr>
                <td width="150" valign="top"><input type="radio" name="quest8" value="var1">телега</td>       <td valign="top"><input type="radio" name="quest8" value="var2">телѣга</td>
            </tr>
            <tr>
                <td width="150" valign="top"><input type="radio" name="quest9" value="var1">пена</td>       <td valign="top"><input type="radio" name="quest9" value="var2">пѣна</td>
            </tr>
            <tr>
                <td width="150" valign="top"><input type="radio" name="quest10" value="var1">дешевый</td>       <td valign="top"><input type="radio" name="quest10" value="var2">дѣшевый</td>
            </tr>
        </table>
        <p><input type="submit" value="Ввести"></p><br>
    </form>
    <p><a href = {{url_index}}>вернуться на главную встраницу</a></p>
</body>
</html>